
#svg{margin-left: 7%;}
.st0{fill:#1E0F02;}
.st1{fill:none;}
.st2{fill:#23110D;}
.st3{fill:#FFFFFF;}
.st4{fill:#E14C00;}
.st5{fill:#807B7C;}
.st6{fill:#4D4A4A;}
.st7{fill:#6A1D02;}
.st8{fill:#6EC48C;}
.st9{fill:#64B380;}
.st10{fill:#807B7C;}
.st11{fill: none; stroke:none; stroke-miterlimit="10"}
.bg{fill:url(#pattern);}
#city{margin-left: 100px}

#con{max-height: 450px;}
/*回形针*/
#huixing1{position: relative;top:-100px;left: 200px; width:80px;height: 80px;overflow: hidden;z-index: 20;}
#huixing1 img{width: 100%;height: 100%}

#huixing2{position: relative;top:-135px;left: 500px; width:80px;height: 80px;overflow: hidden;z-index: 20;}
#huixing2 img{width: 100%;height: 100%}

#huixing3{position: relative;top:-185px;left: 850px; width:80px;height: 80px;overflow: hidden;z-index: 20;}
#huixing3 img{width: 100%;height: 100%}

#huixing4{position: relative;top:-276px;left: 1150px; width:80px;height: 80px;overflow: hidden;z-index: 20;}
#huixing4 img{width: 100%;height: 100%}

#huixing5{position: relative;top:-380px;left: 1450px; width:80px;height: 80px;overflow: hidden;z-index: 20;}
#huixing5 img{width: 100%;height: 100%}
/*便签*/
#bianqian1{width: 200px;height: 250px;position: relative;top:-360px;left:785px;
 background:#ffc;padding: 1em;word-wrap:break-word;
 -moz-box-shadow: 5px 5px 7px rgba(33,33,33,1)  ; /* Safari+Chrome */ 
-webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7)  ; /* Opera */ 
box-shadow: 5px 5px 7px rgba(33,33,33,.7)  ; 
z-index: 10;font-family:'ReenieBeanie',arial,sans-serif,'Microsoft YaHei' !important;  
}
@font-face {
    /* font-properties */
    font-family: shouxie;
    src:url('../../../Public/fonts/shou.otf') 
}
.b_time{font-size: 120%;margin-top: 15px;font-family:Courier  }
#bianqian1 a{color: #000;text-decoration: none; }
.content{font-family:shouxie;font-size: 120%; }
@font-face {
    /* font-properties */
    font-family: shouxie;
    src:url('../../../Public/fonts/shou.otf') 
}
#bianqian2{width: 200px;height: 250px;position: relative;top:-695px;left:100px;background:#CCFFCC;padding: 1em;word-wrap:break-word;
 -moz-box-shadow: 5px 5px 7px rgba(33,33,33,1)  ; /* Safari+Chrome */ 
-webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7)  ; /* Opera */ 
box-shadow: 5px 5px 7px rgba(33,33,33,.7)  ; 
/*倾斜*/
-webkit-transform:rotate(-7deg);  
-o-transform:rotate(-7deg);  
-moz-transform:rotate(-7deg); 
z-index: 10;font-family:'ReenieBeanie',arial,sans-serif,'Microsoft YaHei' !important;  
}
#bianqian2 a{color: #000;text-decoration: none; }

#bianqian3{width: 200px;height: 250px;position: relative;top:-900px;left:420px;background:#CCCCFF;padding: 1em;word-wrap:break-word;
 -moz-box-shadow: 5px 5px 7px rgba(33,33,33,1)  ; /* Safari+Chrome */ 
-webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7)  ; /* Opera */ 
box-shadow: 5px 5px 7px rgba(33,33,33,.7)  ; 
/*倾斜*/
-webkit-transform:rotate(-7deg);  
-o-transform:rotate(-7deg);  
-moz-transform:rotate(-7deg); 
z-index: 10;font-family:'ReenieBeanie',arial,sans-serif,'Microsoft YaHei' !important;  
}
#bianqian3 a{color: #000;text-decoration: none; }

#bianqian4{width: 200px;height: 250px;position: relative;top:-1128px;left:1110px;background:#CCCCFF;padding: 1em;word-wrap:break-word;
 -moz-box-shadow: 5px 5px 7px rgba(33,33,33,1)  ; /* Safari+Chrome */ 
-webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7)  ; /* Opera */ 
box-shadow: 5px 5px 7px rgba(33,33,33,.7)  ; 
/*倾斜*/
-webkit-transform:rotate(7deg);  
-o-transform:rotate(7deg);  
-moz-transform:rotate(7deg); 
z-index: 10;font-family:'ReenieBeanie',arial,sans-serif,'Microsoft YaHei' !important;  
}
#bianqian4 a{color: #000;text-decoration: none; }

#bianqian5{width: 200px;height: 250px;position: relative;top:-1400px;left:1420px;background:#CCFFCC;padding: 1em;word-wrap:break-word;
 -moz-box-shadow: 5px 5px 7px rgba(33,33,33,1)  ; /* Safari+Chrome */ 
-webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7)  ; /* Opera */ 
box-shadow: 5px 5px 7px rgba(33,33,33,.7)  ; 
/*倾斜*/
-webkit-transform:rotate(7deg);  
-o-transform:rotate(7deg);  
-moz-transform:rotate(7deg); 
z-index: 10;font-family:'ReenieBeanie',arial,sans-serif,'Microsoft YaHei' !important;  
}
#bianqian5 a{color: #000;text-decoration: none; }

#next{width: 200px;height: 50px;position: relative;top:-1280px;left: 40%;line-height: 50px;background-color: #2CA5DE;font-family:shouxie;
	font-size: 18px;text-align: center;color: #fff;border-radius: 5px;box-shadow:5px 5px 7px rgba(33,33,33,.7) ; letter-spacing: 2px;cursor: pointer;}