
	<head>
		<title>杨宁个人博客--首页</title>
    	<meta name="author" content="杨宁">
    	<meta charset="UTF-8" />
    	<meta name="keyword" content="个人博客, 个人网站, 情感文章,技术分享,个人博客模板,php,mysql,java">
    	<meta name="description" content="这是杨宁的个人博客,包括情感文章,技术分享,记录生活,留言等">
	</head>
	<include file="Index/header" />
		<!-- 轮播图 star -->
		<div class="row lunbo">
			<div class="col-md-5 lunboImg" style="padding:0px">
				<div id="myCarousel" class="carousel slide">
			    	<!-- 轮播（Carousel）指标 -->
				    <ol class="carousel-indicators">
				        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				        <li data-target="#myCarousel" data-slide-to="1"></li>
				        <li data-target="#myCarousel" data-slide-to="2"></li>
				    </ol>   
				    <!-- 轮播（Carousel）项目 -->
				    <div class="carousel-inner">
				        <div class="item active">
				            <img src="__PUBLIC__/img/home/banner1.png" alt="First slide">
				        </div>
				        <div class="item">
				            <a href="__MODULE__/Love/index" target="_blank"><img src="__PUBLIC__/img/home/banner2.png" alt="Second slide"></a>
				        </div>
				        <div class="item">
				            <a href="__MODULE__/Technique/index" target="_blank"><img src="__PUBLIC__/img/home/banner3.png" alt="Third slide"></a>
				        </div>
				    </div>
				    <!-- 轮播（Carousel）导航 -->
				    <a class="carousel-control left" href="#myCarousel" 
				        data-slide="prev" style="background:none;">&lsaquo;
				    </a>
				    <a class="carousel-control right" href="#myCarousel" 
				        data-slide="next" style="background:none;">&rsaquo;
				    </a>
				</div>
			</div>
			<div class="col-md-3" >
				<div class="col-md-10 yangxianshen" >
					<strong>杨先森博客</strong>
					<h2>一位伪文艺屌丝程序员的原创博客网站</h2>
					<p>潇洒乃我本性,帅乃天生注定。</p>
					<p>IT 界最不着调的程序员</p>
					<p>双鱼男，有点感性，只希望通过博客，分享心情，结交朋友！互相学习，共同进步！</p>
					<span> ---- 2017 Mr.Yang</span>
				</div>
			</div>
		</div>
		<!-- 轮播图end -->
		<!-- 文章推荐 -->
		<div class="row">
			<h2 class="col-md-5 recommend">
				<img src="__PUBLIC__/img/home/tuijian.png" alt="" style="width:25px;height:25px"><span>推荐</span>文章
			</h2>
			<div class="col-md-3">
				<h2 class="col-md-10 attention">
					关注我
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 recommendImg " >
				<foreach name="list" item="row">
					<a href="">
						<div class="col-md-3 re_img">
							<if condition="$row.type eq 1">
								<div class="jiaobiao"></div>
								<p class="jiaobiao2">情感故事</p>
							</if>
							<if condition="$row.type eq 2">
								<div class="jiaobiao4"></div>
								<p class="jiaobiao3">技术分享</p>
							</if>
							<img src="__PUBLIC__/Uploads/admin/{$row.images}" alt="文章推荐图片"title="{$row.title}">
							<div class="re_text">
								{$row.title}
							</div>
						</div>
					</a>
				</foreach>
			</div>
			<div class="col-md-3 att_img ">
				<ul>
					<li><a href="https://weibo.com/u/6412848487?is_all=1" target="_blank" class="xinlang"><img src="__PUBLIC__/img/home/xinlang.png" alt="">新浪微博</a></li>
					<li><a href="" target="_blank" class="weixin"><img src="__PUBLIC__/img/home/weixin.png" alt="微信关注">微信</a></li>
					<li><a href="http://wpa.qq.com/msgrd?v=3&uin=981742968&site=qq&menu=yes" target="_blank" class="qq"><img src="__PUBLIC__/img/home/QQ.png" title="QQ联系我">Q Q</a></li>
					<li><a href="__MODULE__/Opinion/index" target="_blank" class="at_img"><img src="__PUBLIC__/img/home/yijian.png" >意见反馈</a></li>
				</ul>
				<div class="weixin_g">
					<img src="__PUBLIC__/img/home/weixin_g.jpg" alt="微信关注">
				</div>
			</div>
			<aside class="col-md-3" style="position: relative;">
				<h2 class="col-md-10 attention" style="margin-top:20px" >
					点击排行
				</h2>
				<div class="col-md-3 paihang">	
					<ul>
					<foreach name="num" item="vo">
						<li class="p_li"><span class="paiNum">1</span>
						<if condition="$vo.type eq 1">
							<a href="__MODULE__/Love/detail">{$vo.title|mb_strcut=0,50,utf8} ...</a><span class="readCount">{$vo.readCount}</span>
						</if>
						<if condition="$vo.type eq 2">
							<a href="__MODULE__/Technique/detail">{$vo.title|mb_strcut=0,50,utf8} ...</a><span class="readCount">{$vo.readCount}</span>
						</if>	
						</li>
					</foreach>
					</ul>
					<h2 class="col-md-11 attention" >
						友情链接
					</h2>
					<div class="col-md-3 youlian">
						<ol class="you_ol"> 
							<li><a href="">车助网</a></li>
							<li><a href="">联创商城</a></li>
							<li><a href="">百度知道</a></li>
							<li><a href="">新浪微博</a></li>
							<li><a href="">小青博客</a></li>
							<li><a href="">创智博客</a></li>
							<li><a href="">兄弟连</a></li>
						</ol>
					</div>
				</div>
			</aside>
		</div>
		<!-- 最新文章 -->
		<div class="row">
			<h2 class="col-md-5 zuixin">
				<img src="__PUBLIC__/img/home/zuixin.png" alt="" style="width:22px;height:22px"><span>最新</span>文章
			</h2>
			<foreach name="news" item="ne">
				<article class="col-md-5 newArticle">
					<if condition="$ne.type eq 1">
						<figure>
							<a href="__MODULE__/Love/detail" title="{$ne.title}" target="_blank">
								<img src="__PUBLIC__/Uploads/admin/{$ne.images}" alt="文章图片" title="{$ne.title}">
							</a>
						</figure>
					</if>
					<if condition="$ne.type eq 2">
						<figure>
							<a href="__MODULE__/Technique/detail" title="{$ne.title}" target="_blank">
								<img src="__PUBLIC__/Uploads/admin/{$ne.images}" alt="文章图片" title="{$ne.title}">
							</a>
						</figure>
					</if>
					<ul>
						<if condition="$ne.type eq 1">
							<h3><a href="__MODULE__/Love/detail" target="_blank">{$ne.title}</a></h3>
						</if>
						<if condition="$ne.type eq 2">
							<h3><a href="__MODULE__/Technique/detail" target="_blank">{$ne.title}</a></h3>
						</if>
						{$ne.content|mb_strcut=0,270,utf8}...
						<if condition="$ne.type eq 1">
							<a href="__MODULE__/Love/detail" target="_blank" class="xiangqin">[详情]</a>
						</if>
						<if condition="$ne.type eq 2">
							<a href="__MODULE__/Technique/detail" target="_blank" class="xiangqin">[详情]</a>
						</if>
						<p class="autor">
						<if condition="$ne.type eq 1">
							<span ><img src="__PUBLIC__/img/home/tar.png" alt="文章分类" style="width:20px;height:20px"><a href="__MODULE__/Love/detail" target="_blank" style="color: #759b08;margin-left:5px;font-size:12px">情感故事</a></span>
						</if>
						<if condition="$ne.type eq 2">
							<span ><img src="__PUBLIC__/img/home/tar2.png" alt="文章分类" style="width:18px;height:18px"><a href="__MODULE__/Technique/detail" target="_blank" style="color: #9AB9F7;margin-left:5px;font-size:12px">技术分享</a></span>
						</if>
							<span class="time" style="padding-left:20px"><img src="__PUBLIC__/img/home/time.png" alt="发表时间" style="width:16px;height:16px"><span style="margin-left:5px;font-size:12px;">{$ne.curentTime|date="Y-m-d H:i:s",###}</span></span>
						<if condition="$ne.type eq 1">
							<span class="f_r" style="margin-right:30px"><a href="__MODULE__/Love/detail" ><i class="fa fa-thumbs-up"></i></a><span>{$ne.up}</span></span>
						</if>
						<if condition="$ne.type eq 2">
							<span class="f_r" style="margin-right:30px"><a href="__MODULE__/Technique/detail" ><i class="fa fa-thumbs-up"></i></a><span>{$ne.up}</span></span>
						</if>
							<span class="f_r"><img src="__PUBLIC__/img/home/eyes.png" alt="浏览量" style="width:20px;height:18px"></i><span>浏览( {$ne.readCount} )</span></span>
							<span class="f_r"><a href=""><img src="__PUBLIC__/img/home/pinglun.png" alt="评论" style="width:17px;height:17px"><span>评论( {$ne.comment} )</span></a></span>
						</p>
					</ul>
				</article>
			</foreach>
		</div>
		<script type="text/javascript">
		$(function(){
			// 推荐文章 文字变色
			$(".re_text").mouseover(function(event) {
				$(this).css("color","#FF926F")
			});
			$(".re_text").mouseout(function(event) {
				$(this).css("color","#777")
			});
			// 在页面加载时就开始动画播放
			$('.carousel').carousel()
			// 角标显示
			$(".re_img").mouseover(function(event) {
				$(this).find(".jiaobiao2").show();
				$(this).find(".jiaobiao").show();
				$(this).find(".jiaobiao3").show();
				$(this).find(".jiaobiao4").show();

			});
			// 角标隐藏
			$(".re_img").mouseout(function(event) {
				$(this).find(".jiaobiao2").hide();
				$(this).find(".jiaobiao").hide();
				$(this).find(".jiaobiao3").hide();
				$(this).find(".jiaobiao4").hide();

			});
			// 鼠标移到文章列表改变背景色
			$(".newArticle").each(function() {
				$(this).mousemove(function(event) {
					$(this).css("background-color","#fff")
				});
			});
			$(".newArticle").mouseout(function(event) {
				$(this).css("background-color","#fffbf0")
			});
			// 改变文章排行数字的颜色
			 $(".paihang ul li:eq(0)").find('.paiNum').css("background-color","#FE5086");
			 $(".paihang ul li:eq(1)").find('.paiNum').css("background-color","#F69523")
			 $(".paihang ul li:eq(2)").find('.paiNum').css("background-color","#63B6F7")
			 $(".paihang ul li:eq(3)").find('.paiNum').css("background-color","#ADA30A")
			 $(".paihang ul li:eq(4)").find('.paiNum').css("background-color","#A98659")
			 // 排行编码
			  $(".paihang ul li:eq(0)").find('.paiNum').text(1)
			  $(".paihang ul li:eq(1)").find('.paiNum').text(2)
			  $(".paihang ul li:eq(2)").find('.paiNum').text(3)
			  $(".paihang ul li:eq(3)").find('.paiNum').text(4)
			  $(".paihang ul li:eq(4)").find('.paiNum').text(5)
			  $(".paihang ul li:eq(5)").find('.paiNum').text(6)
			  $(".paihang ul li:eq(6)").find('.paiNum').text(7)
			  $(".paihang ul li:eq(7)").find('.paiNum').text(8)
			  $(".paihang ul li:eq(8)").find('.paiNum').text(9)
			  $(".paihang ul li:eq(9)").find('.paiNum').text(10)
			  // 显示微信关注二维码
			  $(".weixin").mousemove(function(event) {
			  		$(".weixin_g").show();
			  });
			  $(".weixin").mouseout(function(event) {
			  		$(".weixin_g").hide();
			  });
		})
	</script>
	<include file="Index/footer" />