
<head>
	<title>杨宁个人博客--留言</title>
	<meta name="author" content="杨宁">
	<meta name="keyword" content="个人博客, 个人网站, 情感文章,技术分享,个人博客模板,php,mysql,java">
	<meta name="description" content="这是杨宁的个人博客,包括情感文章,技术分享,记录生活,留言等">
    <link href="__PUBLIC__/css/message.css" rel="stylesheet" type="text/css" />

</head>
<include file="Index/header" />
	<div id="wrap">
		<h3 style="text-align:center;margin-bottom:20px">发送一封消息给我</h3>
		<div id='form_wrap'>
			<form>
				<p>Hello Mr.Yang,</p>
				<label for="email">消息内容 : </label>
				<textarea  name="message" value="Your Message" id="message" ></textarea>
				<p>关于你,</p>	
				<label for="name">Name: </label>
				<input type="text" name="name" value="" id="name" />
				<label for="email">Email: </label>
				<input type="text" name="email" value="" id="email" />
				<input type="submit" name ="submit" value="发送 !" />
			</form>
		</div>
	</div>
<script type="text/javascript">

</script>
<include file="Index/footer" />