
<head>
	<title>杨宁个人博客--文章详情页</title>
	<meta name="author" content="杨宁">
	<meta name="keyword" content="个人博客, 个人网站, 情感文章,技术分享,个人博客模板,php,mysql,java">
	<meta name="description" content="这是杨宁的个人博客,包括情感文章,技术分享,记录生活,留言等">
    <link href="__PUBLIC__/css/tech.css" rel="stylesheet" type="text/css" />
</head>
<include file="Index/header" />
<div class="container-fluid">
	<div class="row">
		<div class="col-md-5 col-md-offset-2 mianbao">
			<img src="__PUBLIC__/img/home/address.png" alt="面包屑导航"><h2>意见反馈<b class="m_erji"></b></h2>
			<span>&nbsp;&nbsp;希望小伙伴们多多给我提建议意见哦！&nbsp;&nbsp; —— Mr.Yang</span>
		</div>
	</div>
	<style type="text/css">
		/*意见反馈*/
		.opinion{height: 50px;border-bottom: 2px solid #E6E6E6;line-height: 70px;padding-left: 15px}
	</style>
   <div class="row">
   		<article class="col-md-5 col-md-offset-2">
   			<div class="com-md-12 opinion">
   				给我提意见和建议的小伙伴可以在下面留言哦 !
   			</div>
   			<!-- 评论 -->
   			<div id="SOHUCS"></div> 
			<script type="text/javascript"> 
			(function(){ 
			var appid = 'cytoOc55m'; 
			var conf = '79df39193bc2d05e79135e9c59dfe798'; 
			var width = window.innerWidth || document.documentElement.clientWidth; 
			if (width < 960) { 
			window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("http://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); 
			</script>
   			<!-- 评论结束 -->
   		</article>
    	<div class="col-md-3">
    		<h2 class="col-md-11 attention" >
					当前时间
			</h2>
			<div class="col-md-12" style="position: static;padding-top:0px;border:1px solid #FFCC00;border-radius: 7px;width:70%;padding:0px;height:80px;margin-left:16px">	
				<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="310" height="75" style="background-color: #fffbf0;">
				    <param name="movie" value="__PUBLIC__/img/flash2261.swf">
				    <param name="IsAutoPlay" value="1" />
				    <param name="quality" value="high">
				    <embed src="__PUBLIC__/img/flash2261.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="310" height="75" autoplay="true" >
				    </embed>
			  	</object>
			</div>
			<h2 class="col-md-11 attention" >
					<span style="color:#349A18">热评文章</span>
			</h2>
			<div class="col-md-11" style="min-height:10px; max-height:322px;margin-top:10px;overflow: hidden;">
				<ul class="hot_list">
					<li>
						<a href=""><img width="80" height="80" alt="" class="pic"  src="__PUBLIC__/img/home/3.jpg" /></a>
						<span class="text">【写给我最美好的年华】这么戳人光是这个班要毕业了... <br/><a href="">阅读全文&raquo;</a></span>
						<div class="from">
							<span class="f_r"><img src="__PUBLIC__/img/home/eyes.png" alt="浏览量" style="width:20px;height:18px"></i><span  style="color:#999">浏览( 70 )</span></span>
							<span class="f_r"><a href=""><img src="__PUBLIC__/img/home/pinglun.png" alt="评论" style="width:17px;height:17px"><span>评论( 100 )</span></a></span>
						</div>
					</li>
					<li>
						<a href=""><img width="80" height="80" alt="" class="pic"  src="__PUBLIC__/img/home/1.jpg" /></a>
						<span class="text">【写给我最美好的年华】这么戳人光是这个班要毕业了... <br/><a href="">阅读全文&raquo;</a></span>
						<div class="from">
							<span class="f_r"><img src="__PUBLIC__/img/home/eyes.png" alt="浏览量" style="width:20px;height:18px"></i><span  style="color:#999">浏览( 70 )</span></span>
							<span class="f_r"><a href=""><img src="__PUBLIC__/img/home/pinglun.png" alt="评论" style="width:17px;height:17px"><span>评论( 100 )</span></a></span>
						</div>
					</li>
					<li>
						<a href=""><img width="80" height="80" alt="" class="pic"  src="__PUBLIC__/img/home/2.jpg" /></a>
						<span class="text">【写给我最美好的年华】这么戳人光是这个班要毕业了... <br/><a href="">阅读全文&raquo;</a></span>
						<div class="from">
							<span class="f_r"><img src="__PUBLIC__/img/home/eyes.png" alt="浏览量" style="width:20px;height:18px"></i><span  style="color:#999">浏览( 70 )</span></span>
							<span class="f_r"><a href=""><img src="__PUBLIC__/img/home/pinglun.png" alt="评论" style="width:17px;height:17px"><span>评论( 100 )</span></a></span>
						</div>
					</li>
					<li>
						<a href=""><img width="80" height="80" alt="" class="pic"  src="__PUBLIC__/img/home/4.jpg" /></a>
						<span class="text">【写给我最美好的年华】这么戳人光是这个班要毕业了... <br/><a href="">阅读全文&raquo;</a></span>
						<div class="from">
							<span class="f_r"><img src="__PUBLIC__/img/home/eyes.png" alt="浏览量" style="width:20px;height:18px"></i><span  style="color:#999">浏览( 70 )</span></span>
							<span class="f_r"><a href=""><img src="__PUBLIC__/img/home/pinglun.png" alt="评论" style="width:17px;height:17px"><span>评论( 100 )</span></a></span>
						</div>
					</li>
					<li>
						<a href=""><img width="80" height="80" alt="" class="pic"  src="__PUBLIC__/img/home/5.jpg" /></a>
						<span class="text">【写给我最美好的年华】这么戳人光是这个班要毕业了... <br/><a href="">阅读全文&raquo;</a></span>
						<div class="from">
							<span class="f_r"><img src="__PUBLIC__/img/home/eyes.png" alt="浏览量" style="width:20px;height:18px"></i><span  style="color:#999">浏览( 70 )</span></span>
							<span class="f_r"><a href=""><img src="__PUBLIC__/img/home/pinglun.png" alt="评论" style="width:17px;height:17px"><span>评论( 100 )</span></a></span>
						</div>
					</li>		
				</ul>
			</div>
			<h2 class="col-md-11 attention" >
					友情链接
			</h2>
			<div class="col-md-11 youlian">
				<ol class="you_ol"> 
					<li><a href="">车助网</a></li>
					<li><a href="">联创商城</a></li>
					<li><a href="">百度知道</a></li>
					<li><a href="">新浪微博</a></li>
					<li><a href="">小青博客</a></li>
					<li><a href="">创智博客</a></li>
					<li><a href="">兄弟连</a></li>
				</ol>
			</div>
    	</div>      
   </div>
</div>

<script type="text/javascript">
// 热评文章滚动显示
$(function(){        
	setInterval(function(){
		$('.hot_list li:last').hide().insertBefore($(".hot_list li:first")).slideDown(1000);
	}, 4000);
});
</script>
<include file="Index/footer" />