
<head>
	<title>杨宁个人博客--关于我</title>
	<meta name="author" content="杨宁">
	<meta name="keyword" content="个人博客, 个人网站, 情感文章,技术分享,个人博客模板,php,mysql,java">
	<meta name="description" content="这是杨宁的个人博客,包括情感文章,技术分享,记录生活,留言等">
    <link href="__PUBLIC__/css/aboutme.css" rel="stylesheet" type="text/css" />
</head>
<include file="Index/header" />
	<div id="ab_top">
		<img src="__PUBLIC__/img/home/bg_1.jpg" alt="顶部介绍">
	</div>
	<div id="pic">
		<img src="__PUBLIC__/img/home/pic.jpg" alt="头像">
	</div>
	<div class="about">
		Just About Me
	</div>
	<div class="a_content">
		<p>杨先森90后草根站长，IT界最不靠谱的程序员。目前工作是PHP软件工程师。
		作为程序猿的我平时基本在代码和BUG之间飘忽不定，闲下来的时候喜欢看看书或者和几个朋友去路边摊撸撸串喝喝酒。</p>
		<p>作为双鱼座的我当然也是有点感性，莫名伤感，长这么大我认为心细是自己唯一的长处，除此之外我想就只有腿了。从小自己便喜欢文科，文科成绩也普遍好于理科，最后却稀里糊涂的去了理科，大学更是报了软件工程专业，自己一直固执的认为人要向自己的弱点进攻才能越来越完美，于是自己便慢慢的在这个行业里坚持了下来，从最初的C到C++ 从JAVA到现在的PHP，一路摸爬滚打自己对编程慢慢也有了兴趣，这使我明白有的事不是感兴趣而且学习，而是学习了慢慢会有兴趣，或者我个人的观点不对，但是在今年（2017）末我想时光不容浪费，好的坏的都是人生，便产生了写这个博客的想法！</p>
		<p>我觉得好的书好的文章会让人产生两种感觉：一是让人舍不得去读，二是让人欲罢不能一口气看完，这矛盾的两种感觉当然和不同人的性格有关，我不求我的博客到达这两种效果，也不求有很多人看，只求知音分享美文，共同学习！</p>
		<p>最后，如果你也是一个热爱阅读，热爱编程技术，生活中有点感性的朋友记得联系我，我们一同去享受阅读和知识带来的乐趣！</p>
	</div>
	<div class="about">
		Contact Me
	</div>
	<div class="a_content">
		<p><b>微信公众号:</b>(厉害了我的码)</p>
		<p><img src="__PUBLIC__/img/home/weixin_m1.jpg" alt="微信公众号二维码" style="width:200px;height:200px"></p>
		<p><b>QQ:</b>516508422</p>
	</div>
<script type="text/javascript">
</script>
<include file="Index/footer" />